/**
 * @author Towry Wang
 */

/*
	base
-------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	color: #333;
	line-height: 1.6;
	font-size: 112%;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	font-family: 'Lato', -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #138acd;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin-top: 0;
	font-weight: 400;
}

ul, ol {
	margin-left: -1rem;
	padding-left: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

ul > li,
ol > li {
	margin-bottom: 0.75rem;
}

li p {
	margin-bottom: 1rem;
}

b, strong {
	font-weight: 500;
}

table,
p {
	margin-bottom: 2rem;
}

pre, code {
	line-height: 1.3;
	word-break: keep-all;
	white-space: pre;
	font-size: 88%;
}

pre {
	margin: 0 .2rem;
	border-radius: 4px;
	background: #f1f1f1;
	padding: .3rem;
	border: 1px solid #e1e1e1;
	overflow-y: scroll;
}

p > code,
td > code,
span > code,
div > code {
	color: #008000;
	margin: 0 .3rem;
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 0 .3rem;
	border: 1px solid #e1e1e1;
}

table {
	display: table;
	width: 100%;
	overflow: auto;
	border-spacing: 0;
	border-collapse: collapse;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 1.4;
	font-size: 80%;
}

table:after {
	display: table;
	clear: both;
	content: '';
}

table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table th,
table td {
	padding: 0.34rem 0.715rem;
	border: 1px solid #ddd;
}

td > code {
	padding: 0;
	margin: 0;
}

table.with-courtesy {
	margin-bottom: 0.3rem;
}

li > h2,
li > h3,
li > h4,
li > h5,
li > h6 {
	margin-bottom: 0;
}


blockquote {
	color: #74747a;
	border-left: 1em solid #f5f5f6;
	padding-left: 1rem;
	margin-left: -2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-right: 1.3rem;
}

.datetime {
	font-size: 0.87rem;
	color: #9c9c9c;
	margin-left: 7px;
}

/*
	layout
-------------------------------------*/
.container {
	position: relative;
	max-width: 860px;
	margin: 0 auto;
	padding: 4rem 2rem 0;
}

.widgets-wrapper {
	position: relative;
	z-index: 2;
	margin-left: 20px;
	margin-top: 7rem;
}

.two-layout {
	display: flex;
	flex-wrap: nowrap;
}

.post {
	width: 600px;
	flex-grow: 1;
}

#footer {
	margin-top: 4rem;
	font-size: 13px;
	color: #777;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer p {
	margin-bottom: 1.3rem;
}

/*
	component
-------------------------------------*/
.post h2 {
	line-height: 1.4;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 3rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #dedede;
}

.post a.anchor {
	padding: 0 6px 0 30px;
	position: absolute;
	height: 20px;
	width: 20px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: -30px;
	cursor: pointer;
	border-bottom: none;
	top: 0;
	left: 0;
	text-decoration: none;
	height: 100%;
	background: transparent;
	color: #3c4342;
}

.post h2:hover .anchor span:before,
.post h3:hover .anchor span:before,
.post h4:hover .anchor span:before,
.post h5:hover .anchor span:before {
	content: "¶";
    left: 0px;
    top: 0;
}

.post .title {
	word-wrap: break-word;
	break-word: break-all;
}

.post .fn-courtesy {
	display: block;
	text-align: center;
	font-size: 0.74rem;
	margin-bottom: 1.5rem;
	margin-top: 0.42rem;
	color: #9F9F9F;
}

.post img {
	max-width: 100%;
}

.post p {
	overflow-x: scroll;
}

.post li {
	font-weight: 400;
	color: #888;
}

.post .end-of-post {
	padding-top: 2rem;
	font-size: 0.7rem;
	border-bottom: 1px solid #eee;
	text-align: center;
	margin-bottom: 2.5rem;
}

.end-of-post .eof {
	position: relative;
	bottom: -9px;
	background-color: #fff;
	padding: 0 5px;
	color: #dfdfdf;
}

.post .post-date {
	font-size: 90%;
}

.widgets {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget {
	margin-bottom: 0.89rem;
}

.widget a {
	border-bottom: 0;
}


/*
	responsive
---------------------------------------------*/

@media screen and (max-width: 660px) {
	.container {
		width: auto;
		padding: 3rem 0.8rem;
	}

	ul, ol {
		margin-left: 0rem;
	}

	blockquote {
		margin-left: 0;
		padding-left: 0.5rem;
		border-left-width: 0.4rem;
		margin-right: 1rem;
	}
}


@media screen and (max-width: 760px) {
	.two-layout {
		display: block;
	}

	.post {
		width: auto;
	}

	.widgets-wrapper {
		max-width: 13rem;
		margin-left: 0;
		position: relative;
		left: 0;
		right: 0;
		margin-top: 2rem;
	}
}
